[Unit]
Description=Simple FAQ bot example config
Wants=network-online.target
After=network-online.target

[Service]
Restart=always
TimeoutStopSec=70
ExecStart=/usr/bin/python /opt/my-bot/simple-tg-faq-bot/faqbot.py -b /opt/my-bot/examplebot -t /opt/my-bot/token.txt
Type=simple

; Process capabilities & privileges
AmbientCapabilities=CAP_NET_BIND_SERVICE
CapabilityBoundingSet=CAP_NET_BIND_SERVICE
SecureBits=keep-caps
NoNewPrivileges=yes

; Sandboxing
DynamicUser=yes
ProtectSystem=full
ProtectHome=true
RestrictNamespaces=true
RestrictAddressFamilies=AF_UNIX AF_INET AF_INET6
PrivateTmp=true
PrivateDevices=true
ProtectClock=true
ProtectControlGroups=true
ProtectKernelTunables=true
ProtectKernelLogs=true
ProtectKernelModules=true
LockPersonality=true
RestrictSUIDSGID=true
RemoveIPC=true
RestrictRealtime=true
SystemCallFilter=@system-service
SystemCallArchitectures=native
MemoryDenyWriteExecute=true
ReadWriteDirectories=/opt/my-bot/

[Install]
WantedBy=default.target
